<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige todo el tráfico al directorio public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]

    # Alternativa: redirigir solo si la solicitud no es un archivo o carpeta existente
    # RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
